fastapi
uvicorn[standard]
sqlalchemy
redis
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
python-dotenv
asyncpg
httpx
tenacity
fastapi-crudrouter
sqlmodel
python-multipart
requests
urllib3
jinja2
json-fix
types-jinja2
alembic
psycopg2-binary
supabase
websockets
reportlab
edge-tts
qrcode
pillow
sentry-sdk[fastapi]
stripe
razorpay

protobuf
json-repair
pypdf
ddgs
google-genai
cohere
beautifulsoup4
